<div class="row">
 <div class="column">
   <!-- Photo by Travis Yewell on Unsplash -->
  <img src="/assets/photos/travis-yewell-497435-unsplash.jpg" style="width: 24rem;height:16rem;">
 </div>
 <div class="column">
     <!-- Photo by Rosalind Chang on Unsplash -burrito bowl -->
  <img src="/assets/photos/rosalind-chang-769213-unsplash.jpg" style="width: 24rem;height:16rem;">
 </div>
 <div class="column">
  <!-- Photo by Krisztian Tabori on Unsplash taco -->
  <img src="/assets/photos/krisztian-tabori-1405309-unsplash.jpg" style="width: 24rem; height:16rem;">
 </div>
</div>

<button class="btn btn-success btn-lg" routerLink="/menu">Order Now</button>